*{
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid;
    padding: 2px 5px;
}

.shopping{
    width: 100%;
}

.item{
    text-align: center;
}

.desc{
    margin-left: 5px;
}

.shopping tr:nth-child(even){
    background-color: azure;
}

.price{
    text-align: right;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
}

.row > div{
    margin: 10px;
    text-align: center;
    font-size: 16pt;
}

iframe{
    padding: 5px;
}

.row img{
    margin: 2px;
}