*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    margin: 0;
}

.navbar{
    padding: 10px;
}

h1{
    font-size: 28pt;
}

p, li{
    font-size: 12pt;
}

header{
    background-color: #b3d9ff;
    background-image: linear-gradient(#99ccff, #cce6ff);
}

.navbar ul{
    list-style-type: none;
    padding: 0;
}

.navbar li{
    font-size: 18pt;
    text-align: left;
    display: inline;
    margin: 5px;
}

a{
    text-decoration: none;
    color: black;
}

section{
    padding: 120px 5px 120px 5px;
}

.content{
    margin: 30px;
}

.card{
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    width: 33%;
    border-radius: 8px;
    background-color: #e6f2ff;
    background-image: linear-gradient(#e6f2ff, #b3d9ff);
}

article .container{
    padding: 3px 10px 20px 10px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}

.row>article{
    margin: 10px;
}

.benefit{
    margin: 2px;
}

.card button{
    border: none;
    outline: 0;
    padding: 10px;
    text-align: center;
    width: 50%;
    font-size: 16pt;
    background-color: #003566;
    border-radius: 8px;
}

.text-center{
    text-align: center;
}

.item-center{
    display: flex;
    justify-content: center;
    vertical-align: buttom;
}

footer{
    background-color: #003566;
    background-image: linear-gradient(#003566, black);
    color: white;
}

footer a{
    color: white;
}

button a{
    color: white;
}

.col{
    display: flex;
    flex-direction: column;
}