*{
    box-sizing: border-box;
}

body{
    margin :0;
    background-color: beige;
}
nav{
    background-color: #e6e6ff;
    padding: 10px;
}
.topnav ul{
    list-style-type: none;
}

.topnav li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

li a{
    font-size: 20pt;
}
a{
    text-decoration: none;
    color: black;
    font-size: 14pt;
}

a:hover{
    color: black;
    opacity: 70%;
}

.container{
    /* margin: 30px; */
    padding-left: 60px;
    padding-right: 60px;
    padding-top : 30px;
}

.center{
    text-align: center;
}

.column-contact{
    float: left;
    width: 50%;
}

.column-about{
    float: left;
    width: 33.33%;
    display: table-cell;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.contact{
    font-size: 20pt;
    font-weight: bold;
}

p{
    font-size: 16pt;
}

.column-about li{
    font-size: 16pt;
}

.column-about .container{
    border-style: solid;
    border-color: #e6e6ff;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.column-about .container:hover{
    border-color: black;
    opacity: 80%;
}
